.product-filters {
    width: 25%;
    background-color: #f2f2f2;
    float: left;
    color: black;
}

.products-filter-title p {
    padding: 5%;
    text-align: center;
    font-size: 30px;
    background-color: #999999;
    text-shadow: 2px 2px 4px  #737373;
    border-bottom: 4px solid white;
}

.filter-price
{
    font-size: 20px;
    padding: 5%;
    border-bottom: 2px solid white;
}
.filter-title{
    border-bottom: 2px solid white;
}

.filter-platform  {
    padding: 5%;
    border-bottom: 2px solid white;
}

.filter-platform p {
    text-align: center;
    font-size: 22px;
}

.filter-type {
    padding: 5%;
    text-align: center;
    border-bottom: 2px solid white;
}

.filter-type p {
    text-align: center;
    font-size: 22px;
}  

.filter-release {
    padding: 5%;
    text-align: center;
    border-bottom: 2px solid white;
}

.filter-release p {
    text-align: center;
    font-size: 22px;
}

.filter-publisher {
    border-bottom: 2px solid white;
    text-align: center;
}

.filter-publisher p {
    font-size: 22px;
    text-align: center;
}

.filter-btn-div {
    padding: 5%;
}

.filter-btn {
    border: none;
    padding: 2% 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    display: inline-block;
    border-radius: 4px;
    border: none;
    font-size: 28px;
    margin-left: 25%; 
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;

    background-color: black;
    color: white;
    border: 2px solid #555555;
}

.filter-btn span {
    text-align: center;
}
  
.filter-btn:hover {
    background-color: white;
    color: black;
  }

  .product-filters input[type="text"], .product-filters  input[type="number"] {
    width: 80%;
    padding-left: 0;
    margin-left: 0;
  }